<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Users, ' + ${users} + '!'" />
    <hr>
    <table>
     <tr th:each="e : ${users}">
      <td th:text="${e.name}" th:href="@{/demo/greeting(name=${e.name})}"></td>
      <td th:text="${e.email}"></td>
      <td><a href="greeting.html" th:href="@{/demo/greeting(name=${e.name})}">salute</a></td>
     </tr>
	</table>
</body>
</html>